name: Generate Backgrounds
on:
  push:
    branches:
      - main # This makes it run every time you push code
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  run-generator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcairo2-dev pkg-config python3-dev fonts-noto-cjk
          pip install -r requirements.txt

      - name: Run Script
        env:
          TMDB_BEARER_TOKEN: ${{ secrets.TMDB_BEARER_TOKEN }}
        run: python main.py

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "Auto-update wallpapers and api.json" || echo "No changes to commit"
          git push
