name: Generate Backgrounds
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: read # We only need to read the code
  pages: write
  id-token: write

jobs:
  run-generator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcairo2-dev pkg-config python3-dev fonts-noto-cjk
          pip install -r requirements.txt

      - name: Run Script
        env:
          TMDB_BEARER_TOKEN: ${{ secrets.TMDB_BEARER_TOKEN }}
          TRAKT_API_KEY: ${{ secrets.TRAKT_API_KEY }}
        run: python main.py

      # IMPORTANT: We removed "Commit and Push" here.
      # The images now only exist in the temporary "runner" memory.

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # This uploads the current folder (including generated images)
          # directly to the GitHub Pages web server.
          path: "."

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
